
.DS_Store
.vscode/settings.json
*.pyc
pretrained_models/age_gender/weights-wkfd.hdf5
pretrained_models/emotion/checkpoint
pretrained_models/emotion/emotion_model-30001.data-00000-of-00001
pretrained_models/emotion/emotion_model-30001.index
pretrained_models/emotion/emotion_model-30001.meta
